@charset "UTF-8";




html{
  margin: 0;
}

@media (max-width: 700px), (-webkit-min-device-pixel-ratio: 0) {
  header {
    padding: 0px;
  }
}

.clock{
  margin-bottom: 5px;
  border: 1px solid #333333;
}
.nowtime{
  text-align: center;
  margin: 5px;
  padding: 10px;
}
#realtime{
  font-size: 170%;
}

@media (min-width: 960px) {
  .detailcont {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }
  .timer {
    width: 45%;
  }
  .timer #timer [open] summary {
    background-color: coral;
  }
  .yomiage {
    width: 55%;
  }
}
details.timer[open] summary {
  background: coral;
  color: white;
}

details.yomiage[open] summary {
  background: rgb(74, 127, 243);
  color: white;
}
details.timer[open] {
  background: whitesmoke;
}

details.yomiage[open] {
  background: whitesmoke;
}

.SW{
  display: flex;
  flex-wrap: wrap;
}

main{
  margin: 10px;
  margin-top: 0;
}

.notice {
  background-color: #c4e2f7d3;
}
.notice a{
  color: rgb(17, 64, 219);
}
.notice a:hover{
  color: rgb(48, 108, 199);
  background-color: white;
}


.Sound-wrap{
  margin-bottom: 120px;
}

.sevol,
.SoundVolome {
  margin: 0px;
  padding: 0px;
}
#msg {
  background-color: cadetblue;
  color: white;
  display: inline-block;
  font-size: 1.3rem;
}

.sounds {
  display: flex;
  width: 170px;
  height: 60px;
  margin: 7px;
  padding: 10px 0;
  border-radius: 15px;

  color: #fff;
  font-weight: 600;
  background: #21276c;
  /*text-align: center;*/
  text-decoration: none;
  /*justify-content: center;*/
  align-items: center;
  font-size: 95%;
}
@media (max-width: 600px) {
  .sounds{
    width: 130px;
    height: 40px;
    margin: 5px;
    padding: 10px 0;
  }
}

.sekeybox{
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 3px 6px;
}
.sekeys{
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 3px 5px;
  margin: 4px 6px;
  border: 0.5px white solid;
  font-size: 85%;
  font-weight: 600;
  border-radius: 3px;
}



/*#nschime{
background: #21276c;
}*/
#green {
  background: rgb(3, 65, 3);
}
#yellow {
  background: rgb(119, 34, 8);
}
#blue {
  background: rgb(12, 77, 107);
}

.stop-button {
  display: block;

  width: 95%;
  margin: 15px;
  padding: 30px 0;
  border-radius: 4px;

  color: #fff;
  font-weight: 700;
  background: #21276c;
  text-align: center;
  text-decoration: none;
}

.stop-button {
  background: #8f7c7c;
}
.se-ctrl{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.se-ctrl div{
  margin: 20px 30px;
}

.sebutton {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media (max-width: 600px) {
  .effect{
    width: 100%;
    flex-wrap: wrap;
  }
}
.effect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.sceneeffect {
  display: flex;
  flex-wrap: wrap;
}
.chime {
  display: flex;
  flex-wrap: wrap;
}

.bgm-wrap{
  display: block;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 70px;
  align-items: center;
  color: black;
}
.audioplayctrl,.upmp3ctrl{
  display: flex;
}
.audioplayctrl >*{
  margin: 5px 10px;
}
audio#selectedaudio,#uploadaudio {
  width: 80%;

}
select#audioselect {
  width: 75%;
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  color: black;
  background-color: #80aef0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.audio-wrap{
  display: block;
  margin: 30px auto;
  padding: 15px;
  background-color: #b8daca;
  /*background-color: #9bc4b1;*/
  border: 1px solid #707070 ;
}
.uploadmp3{
  margin: 15px;
}
.uplmp3 {
  padding: 10px 25px;
  color: #ffffff;
  background-color: #384878;
  cursor: pointer;
}

#openmp3 {
  display: none;
}

.routine{
  display: block;
  border: 1px solid rgb(77, 77, 77);
  padding: 20px;
  margin: 30px auto;
  align-items: center;
  background-color: rgb(252, 249, 227);
}
.notify-lbauto {
  background-color: mistyrose;
  padding: 10px 20px;
  margin: 20px 10px;
}




.youtube {
  display: inline-flex;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  padding-top: 56.25%;
  margin: 10px;
  padding: 10px 0;
}

.bgmdet{
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  .NandS {
    margin: 2px;
  }
}
@media (min-width: 960px) {
  .NandS {
    margin: 15px;
  }
}


details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
.evbgmdet[open] h4{
  color: rgb(236, 89, 35);
}
details.evbgmdet[open] summary {
  background: orange;
}
details.expdet[open] summary {
  background: #c3f6ff;
}
details.expdet[open] {
  background: whitesmoke;
}

details.bgmdet[open] summary {
  background: rgb(195, 255, 198);
}

@media (min-width: 960px) {
  footer {
    background-color:black;
  }
}
@media (max-width: 700px) {
  footer {
    background-color: rgb(31, 31, 31);
  }
}

footer {
  margin: 0;
  padding: 30px;
  text-align: left;
  color: #ffffff;
}
footer a {
  color: rgb(24, 160, 81);
  background-color: rgba(255, 255, 255, 0.651);
}
footer a:hover {
  color: #0bd;
  background-color: rgba(255, 255, 255, 0.884);
}
