@charset "UTF-8";




html{
  margin: 0;
}

@media (max-width: 700px), (-webkit-min-device-pixel-ratio: 0) {
  header {
    padding: 0px;
  }
}

.clock{
  margin-bottom: 5px;
  border: 1px solid #333333;
}
.nowtime{
  text-align: center;
  margin: 5px;
  padding: 10px;
}
#realtime{
  font-size: 170%;
}

@media (min-width: 960px) {
  .detailcont {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }
  .timer {
    width: 45%;
  }
  .timer #timer [open] summary {
    background-color: coral;
  }
  .yomiage {
    width: 55%;
  }
}
details.timer[open] summary {
  background: coral;
  color: white;
}

details.yomiage[open] summary {
  background: rgb(74, 127, 243);
  color: white;
}
details.timer[open] {
  background: whitesmoke;
}

details.yomiage[open] {
  background: whitesmoke;
}

.SW{
  display: flex;
  flex-wrap: wrap;
}

main{
  margin: 10px;
}

.notice {
  background-color: #c4e2f7d3;
}
.notice a{
  color: rgb(17, 64, 219);
}
.notice a:hover{
  color: rgb(48, 108, 199);
  background-color: white;
}


.Sound-wrap{
  margin-bottom: 120px;
}

.sevol,
.SoundVolome {
  margin: 0px;
  padding: 0px;
}
#msg {
  background-color: cadetblue;
  color: white;
  display: inline-block;
  font-size: 1.3rem;
}

.sounds {
  display: inline-block;
  width: 170px;
  height: 50px;
  margin: 7px;
  padding: 15px 0;
  border-radius: 15px;

  color: #fff;
  font-weight: 600;
  background: #21276c;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 600px) {
  .sounds{
    width: 130px;
    height: 40px;
    margin: 5px;
    padding: 10px 0;
  }
}

/*#nschime{
background: #21276c;
}*/
#green {
  background: rgb(3, 65, 3);
}
#yellow {
  background: rgb(119, 34, 8);
}
#blue {
  background: rgb(12, 77, 107);
}

.stop-button {
  display: block;

  width: 95%;
  margin: 15px;
  padding: 30px 0;
  border-radius: 4px;

  color: #fff;
  font-weight: 700;
  background: #21276c;
  text-align: center;
  text-decoration: none;
}

.stop-button {
  background: #8f7c7c;
}

.sebutton {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media (max-width: 600px) {
  .effect{
    width: 100%;
    flex-wrap: wrap;
  }
}
.effect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.sceneeffect {
  display: flex;
  flex-wrap: wrap;
}
.chime {
  display: flex;
  flex-wrap: wrap;
}

.bgm-wrap{
  display: block;
  width: 95%;
  padding-left: 20px;
  margin-bottom: 70px;
  align-items: center;
}
.audioplayctrl{
  display: block;
}
audio#selectedaudio,#uploadaudio {
  width: 80%;

}
select#audioselect {
  width: 75%;
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  color: white;
  background-color: lightcoral;
}

.audio-wrap{
  display: block;
  margin: 30px 10px;
  padding: 5px;
  width: 100%;
  background-color: #9bc4b1;
  border: 1px solid #707070 ;
}
.uploadmp3{
  margin: 15px;
}
.uplmp3 {
  padding: 10px 25px;
  color: #ffffff;
  background-color: #384878;
  cursor: pointer;
}

#openmp3 {
  display: none;
}


.youtube {
  display: inline-flex;
  flex-wrap: wrap;
  width: 95%;
  height: auto;
  padding-top: 56.25%;
  margin: 10px;
  padding: 10px 0;
}

.youtubecontents{
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 20px;
  justify-content: center;
}
.ytwrap,.nhighsongwrap,.shighsongwrap{
    max-width: 100%;
    width: 45%;
    border: 2px dotted #cc0000;
    padding: 10px;
    justify-content: center;
}
@media(max-width:740px){
  .ytwrap{
    max-width: 98%;
    width: 95%;
    margin: auto;
  }
}
.ytwrap h3,.ytwrap h2{
margin-bottom: 0;
margin-top: 10px;
}
.ytframe{
  margin: 0;
}
.ytset,.nhighsongset,.shighsongset{
  display: grid;
  padding: 10px;
  gap: 10px 0;
}
.ctrlbt button{
  width: 40%;
  padding: 10px;
  margin: 20px;
}
.progbar{
  width: 100%;
  margin: 15px;
}
.progbar input{
  width: 70%;
}
.volslider,.nhighvolslider,.shighvolslider{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.volslider p,.nhighvolslider p,.shighvolslider p{
  width: 10%;
  text-align: center;
}
.volslider input,.nhighvolslider input,.shighvolslider input{
  width: 80%;
}

@media(max-width:740px){
  .positivewrap,.rupinwrap,.nhighsongwrap,.shighsongwrap{
    width: 95%;
  }
  .positivectrlbt button,.rupinctrlbt button{
    width:80%;

  }
}

/***/
.toggle {
  position: relative;
  width: 55px;
  height: 30px;
  /*margin: 40px 60px;*/
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  display: none;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #c9c9ca;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle.checked:before {
  background: #35c759;
}
.toggle.checked:after {
  left: 27px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}
.rupinauto p{
  margin: 5px 3px;
}
/****/

.routine{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(77, 77, 77);
  height: 150px;
  padding: 20px;
  margin-bottom: 30px;
  align-items: center;
  background-color: rgb(252, 249, 227);
}

.bgmdet{
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  .NandS {
    margin: 2px;
  }
}
@media (min-width: 960px) {
  .NandS {
    margin: 15px;
  }
}


details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
.evbgmdet[open] h4{
  color: rgb(236, 89, 35);
}
details.evbgmdet[open] summary {
  background: orange;
}
details.expdet[open] summary {
  background: #c3f6ff;
}
details.expdet[open] {
  background: whitesmoke;
}

details.bgmdet[open] summary {
  background: rgb(195, 255, 198);
}

@media (min-width: 960px) {
  footer {
    background-color:black;
  }
}
@media (max-width: 700px) {
  footer {
    background-color: rgb(31, 31, 31);
  }
}

footer {
  margin: 0;
  padding: 30px;
  text-align: left;
  color: #ffffff;
}
footer a {
  color: rgb(24, 160, 81);
  background-color: rgba(255, 255, 255, 0.651);
}
footer a:hover {
  color: #0bd;
  background-color: rgba(255, 255, 255, 0.884);
}
