@charset "UTF-8";

/*
font-family: 'M PLUS Rounded 1c', sans-serif;
*/
/*モーダルを開くボタン*/
.modal-open{
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
	width: 300px;
	height: 50px;
	font-weight: bold;
	color: #fff;
	background: #000;
	margin: auto;
	cursor: pointer;
	transform: translate(-50%,-50%);
}
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,50%);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
    box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
	opacity: 1;
	visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 1000px;
	width: 100%;
  height: 70vh;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	top: -40px;
	right: -40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
	background: #fff;
	text-align: left;
	padding: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.modal-content h2{
  margin: 70px 20px;
}
.modal-content h3{
  margin: 70px 20px;
  font-size: 250%;
}


.darkTheme {
    color: #fff;
    background: rgb(0, 0, 0);
    transition: all 0.5s;
  }
.lightTheme{
  transition: all 0.5s;
}


.cp_ipcheck {
    width: 60px;
    text-align: left;
    margin-left: auto;
}
@media (max-width: 800px){
  .cp_ipcheck{
    display: none;
  }
}
.cp_ipcheck input {
	display: none;
}
.cp_ipcheck label {
	position: relative;
	display: block;
	padding: 15px 0;
	padding-right: 35px;
	cursor: pointer;
  font-size: 1rem;
}
.cp_ipcheck input[type='checkbox'] {
	position: absolute;
	visibility: hidden !important;
}
.cp_ipcheck input[type='checkbox'] + label:before,
.cp_ipcheck input[type='checkbox'] + label:after {
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: -7.5px;
  content: '';
}
.cp_ipcheck input[type='checkbox'] + label:before {
	right: 0;
  top: 8px;
	width: 60px;
	height: 30px;
	border: 1px solid #e4e3e1;
	border-radius: 30px;
	background: #ffffff;
}
.cp_ipcheck input[type='checkbox'] + label:after {
	right: 29px;
  top: 8px;
	width: 30px;
	height: 30px;
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
	border-radius: 50%;
	background: #FFCF00;
  color: black;
  padding: 6px 0 0 7px;
  content: '\f185';
  font-family:"Font Awesome 5 Free";
}
.cp_ipcheck input[type='checkbox']:checked + label:after {
	right: 0;
	background: #000066;
  content: "\f186";
  font-family:"Font Awesome 5 Free";
  padding: 6px 0 0 8px;
  color: #ffff00;
}

@media (max-width: 700px), (-webkit-min-device-pixel-ratio: 0) {
  header {
    align-items: flex-end;
    align-content: center;
    padding: 0px;
  }
}
@media (min-width: 960px) {
  .login-statusdiv{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    position: relative;
  }

#logoutbtn {
  width: 30px;
  height: 30px;
  background: white;
  color: blue;
  border: 1px solid blue;
}
  #uimage{
    display: block!important;
    width: 40px;
    height: auto;
    border-radius: 100px;
    position: absolute;
    top: 16px;
    right: 40px;
}
  .usericon {
    display: block!important;
    width: 40px;
    height: 40px;
    background-color: #014897;
    color: white;
    border-radius: 100px;
    text-align: center;
}
  .title p{
    margin: 0;
  }
  .logoh1{
    margin-left: 5px;
    margin: 5px;
  }
}

body{
user-select: none;
}
.fa-solid{
  padding-right: 5px;
  font-size: 120%;
  text-align: center;
}

#not-loginned{
  display: none;
}
#login-status{
text-align: right;
}
.login-statusdiv{
align-items: center;
}
#uimage{
  display: none;
}
#aaform{
  display: none;
}
.stop-chime{
  margin: 50px 0;
}


.logo{
  width: 100%;
  height: 100%;
}

@media (max-width:800px){
.logo{
  width: 70%;
}
.logoh1{
  margin-bottom: 0;
  margin-top: 0;
}
.login-statusdiv{
  font-size: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#login-status{
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}
.title{
  margin: 5px;
  width: 30%;
}
.stbtn{
  display: none;
}
.usericon{
  display: none;
}
}

.nav {
display: flex;
font-size: 1rem;
text-transform: uppercase;
list-style: none;
/*↓これで画像のサイズが決まってる？？*/
align-items: center;
}
.nav li {
margin-left: 36px;
}
.nav a {
color: #432;
}
.nav a:hover {
color: #0bd;
}

header {
display: flex;
flex-wrap: wrap;
width: auto;
height: 105px;
/*background-color: rgb(207, 207, 207);*/
align-items: center;
justify-content: space-between;
margin: 5px;
margin-right: 5%;
margin-bottom: 20px;
border-bottom: 1px gray solid;
}

@media(max-width:740px){
  .sitever{
    display: none;
  }
}

@media (min-width:800px){
.title{
  margin: 5px;
  margin-top: 30px;
  max-width: 15%;
  align-items: center;
  align-content: center;
}
}
.title li {
/*width: calc(100%/4);/*←画像を横に4つ並べる場合
padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
box-sizing:border-box;
}
.title li img {
max-width:100%; /*画像のはみだしを防ぐ*/
height: auto; /*画像の縦横比を維持 */
/*border:solid 1px #ccc; /*←画像を1pxのグレーの枠線で囲む指定の場合*/
}

.jumpto{
display: flex;
padding: 5px;
width: 63%;
background-color: #e0f2ff;
}
.jumpto h4{
margin: 3px;
}
.jumpto-button a{
margin: 0 15px;
}
.display-setting{
padding: 5px;
width: 32%;
background-color: #e3fff8;
}
.display-setting button{
margin: 0 5px;
background-color: #d2fff4;
}
.general-tools{
display: flex;
flex-wrap: wrap;
margin: 15px 0;
margin-top: 0;
}
@media (max-width: 800px){
.jumpto{
  width: 100%;
}
.display-setting{
  width: 100%;
}
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 8px;
}

@media (min-width: 960px) {
  .detailcont {
    display: flex;
  }
}



/* バナー本体 */
.info{
  text-align: center;
  display: flex;
  padding: 3px;
}
.oshirase{
  display: flex;
  height: 40px;
  width: 8%;
  background-color: rgb(255, 102, 0);
  color: white;
  font-weight: 650;
  overflow: hidden;
  margin: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  align-items: center;
}
.oshirase p{
  width: 80%;
}
.oshirase img{
  width: 20%;
}


.news-banner {
  display: block;
  height: 40px;
  width: 90%;
  background-color: rgb(255, 207, 118);
  overflow: hidden;
  margin: 5px;
  margin-left: 0px;
  font-weight: 800;
  user-select: none;
}

/* バナー内コンテンツ */
.news-banner__content {
  display: inline-block;
  color: rgb(0, 0, 0);
  line-height: 15px;
  padding-left: 100%;
  white-space: nowrap;
  animation: animate-banner 50s linear infinite;
}

/* バナー内の要素をすべて選択 */
.news-banner__content > * {
  display: inline-block;
}

/* 横にスクロールさせるアニメーション */
@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}

.not-news{
  display: flex;
}
.notice-i {
  float: left;
  max-width: 20px;
  height: auto;
}

/*==================================================
ニュースティッカーのためのcss
===================================*/
/*ニュース1行の周りの余白*/
.slider a{
  display: block;
  background:#fff;
  padding:20px;
}

/*日付*/
.slider span {
  display:inline-block;
  font-size:0.8rem;
  margin-right:10px;
  color:#777;
}

li {
  list-style-type:none;
}

	
div.ticker{
  width: 95%;
  margin: 5px auto;
}
.ticker{
  user-select: none;
}
.ticker span{
    display:inline-block;
    font-size:0.8rem;
    margin-right:10px;
    color:#777;
}
.ticker a{
color: black;
}

#target.is-hidden {
  display: none;
}

.info2{
  display: none;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
}

details summary {
  text-align: center;
  cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

details.timer[open] summary {
  background: coral;
  color: whitesmoke;
}
details.timer[open]{
  background-color: whitesmoke;
}

.topbanner{
  display: flex;
}

body {
  background-color: #fcfcfc;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
}
#main-contents{
  margin: 8px;
}

#loading{
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: block;
  overflow: hidden;
}
.ldcontents{
  margin: auto;
  margin-top: 30vh;
  height: 40vh;
}
.ldcontents *{
  align-content: center;
}


.wrapper {
  margin: 0px;
  padding: 0px;
}

/*.container {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}*/

button{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border-radius: 4px;
  border: 1px solid gray;
}
body button{
  cursor: pointer;
}
.stop-button{
  cursor: pointer;
} 
.mute-button{
  cursor: pointer;
}
.slider{
  cursor: pointer;
}
.settings{
  display: block;
}




.stop-button {
  display: block;
  border: none;
  width: 95%;
  margin: 15px;
  padding: 30px 0;
  border-radius: 10px;

  color: #fff;
  font-weight: 700;
  background: #21276c;
  text-align: center;
  text-decoration: none;
}
.mute-button{
width: 170px;
  height: 50px;
  margin: 7px;
  padding: 15px 0;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  background: #abd7da;
  text-align: center;
  text-decoration: none;
  border: 1px solid gray;
}

.stop-button {
  background: #8f7c7c;
}

.sebutton {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
/***/
.toggle {
  position: relative;
  width: 55px;
  height: 30px;
  /*margin: 40px 60px;*/
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  display: none;
}
.toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #e9e9eb;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.toggle.checked:before {
  background: #35c759;
}
.toggle.checked:after {
  left: 27px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
}



@media (min-width: 960px) {
  footer {
    /*background-image: url(image/backg1.jpg);
    background-blend-mode: lighten;*/
    background-color: black;
  }
}
@media (max-width: 700px) {
  footer {
    background-color: rgb(31, 31, 31);
  }
}

footer {
  margin: 0px;
  padding: 30px;
  text-align: left;
  color: #ffffff;
}
footer a {
  color: rgb(24, 160, 81);
  background-color: rgba(255, 255, 255, 0.651);
}
footer a:hover {
  color: #0bd;
  background-color: rgba(255, 255, 255, 0.884);
}

/*文中の文字を囲む*/
.kakomu {
  padding: 2px 8px; /* 枠と文字の空間 */
  margin: 0 5px; /* 枠の外の空間 */
  background-color: #f9f9f9; /* 枠の背景色 */
  border: 1px solid #777; /* 枠の線の太さ・種類・色 */
  border-radius: 2px; /* 枠の角を丸くする */
  box-shadow: 1px 2px 2px #ddd; /*影をいれる*/
  font-family: inherit; /* フォントの種類を継承する */
  font-size: 0.85em; /* フォントの大きさ */
}

/**************************************/

.navlogo {
  background-color: white;
  max-width: 15%;
  margin: 10px;
  padding: 0%;
}
.menu-btn {
  position: fixed;
  top: 5px;
  right: 3px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: gray;
  cursor: pointer;
}
#menu-btn-check{
  display: none;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255,255,255,0
  ); /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content ul {
  padding: /*50px*/ 8px 0;
  max-width: 80%;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 40px 5px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 3px;
  top: 16px;
}
.menu-content {
  width: 100%;
  height: 170px;
  position: fixed;
  top: 0;
  left: 100%; /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: black;
  justify-content: space-around;
  align-items: flex-start;
  transition: all 0.5s; /*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
  left: 0; /*メニューを画面内へ*/
}

@media (max-width: 800px) {
  .menu-content {
    width: 100%;
    height: 100%;
  }
  .nav {
    flex-direction: column;
  }
  .navlogo {
    max-width: 100%;
  }
}





a.btn_ao_b {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 1.3rem 2rem;
  border: 2px solid #014897;
  background: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a.btn_ao_b:hover {
  background-color: #e9f3fd;
}
a.btn_ao_b .b__text {
  display: block;
  flex-grow: 1;
  color: #004386;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-right: 15px;
  font-size: 23px;
}
a.btn_ao_b .b__text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  border-top: 3px solid #014897;
  border-right: 3px solid #014897;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  a.btn_ao_b .b__text {
    font-size: 18px;
    padding-right: 20px;
  }
  a.btn_ao_b .b__text::after {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 736px) {
  a.btn_ao_b .b__text {
    font-size: 14px;
    padding-right: 20px;
  }
  a.btn_ao_b .b__text::after {
    width: 10px;
    height: 10px;
  }
}




a.btn_blue {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem 3.0rem;
  background-color: #E7D8D0;
  border-radius: 8px;
box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s;
}
a.btn_blue span.bl__text {
  display: block;
  position: relative;
  color: black;
  font-size: 16px;
  text-align: center;
  padding-left: 30px;
}
a.btn_blue span.bl__text:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
a.btn_blue span.bl__text:after {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 3px solid #1755aa;
  border-right: 3px solid #1755aa;
box-sizing: border-box;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  margin: auto;
  transition: 0.3s;
}
a.btn_blue:hover {
  box-shadow: 0 0 8px gray;
}
a.btn_blue:hover span.bl__text:after {
  border-top: 3px solid #01b5d0;
  border-right: 3px solid #01b5d0;
}
@media (max-width: 736px) {
  a.btn_blue {
      max-width: 280px;
      padding: 1.5rem 2.0rem;
  }
  a.btn_blue span.bl__text {
      font-size: 14px;
  }
}

.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #3bb4ff;  
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}



.modebtn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #22634a;
  border: solid 2px #2de7a9;
  border-radius: 3px;
  transition: .4s;
}

.modebtn:hover {
  background: #4dc291;
  color: white;
}

.modebtn2 {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #8a1818;
  border: solid 2px #e7332d;
  border-radius: 3px;
  transition: .4s;
}

.modebtn2:hover {
  background: #c2514d;
  color: white;
}


.btntextchange{
  /*テキストの基点とするためrelativeを指定*/
position: relative;
  /*ボタンの形状*/
border: 1px solid #555;
border-radius:25px;
  min-width:210px;
padding: 20px;
  text-align: center;
display: inline-block;
  text-decoration: none;
  color: #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s;
}

/*hoverした際の変化*/
.btntextchange:hover{
background:rgb(46, 129, 67);
color:#fff;
}

.btntextchange span{
  /*絶対配置でテキストの位置を決める*/
position: absolute;
left: 50%;
top:50%;
  transform:translate(-50%,-50%);
  /*アニメーションの指定*/
  transition: all .5s;
/*ブロック要素にしてテキスト折り返しなし*/  
display: block;
white-space: nowrap;
}

/*差し替わるテキストの設定*/
.btntextchange span:nth-child(2){
opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.btntextchange:hover span:nth-child(1){
opacity:0;/*透過0に*/
}

.btntextchange:hover span:nth-child(2){
opacity:1;/*不透明に*/
}



@media (max-width: 736px) {
.title-letter{
  font-size: 4.5vw;
  margin: 0%;
  margin-left: 2%;
}
.logo{
  width: 70%;
  height: auto;
}
.header-logo{
    margin-top: 0%;
  margin-bottom: 0%;
}
.date{
font-size: 4vw;
}
.status-l{
  font-size: 3vw;
}
.topbanner{
  display: inline;
}
.clock{
  width: 95%;
}
.time{
  font-size: 7vw;
}
.status{
  width: 100%;
}
.details{
  font-size: 50%;
}
.st-info1{
  font-size: 70%;
}
.timer{
  font-size: 50%;
}
}